/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body {
	margin: 0;
    font-family: Speedee;
    font-size: 14px;
    line-height: 24px;
    color: #292929;
    letter-spacing: -.15px;
}

header {
	height: 48px;
	box-shadow: 0 0.1px 4px 0 #cecece;
}
section {
	display: flex;
	flex-direction: column;
	margin: 3.5em 0.78em 4em 0.78em;
	border: .0625rem solid #cecece;
	border-radius: 0.3em;
	padding-bottom: 2em;
	gap: 2em;
	display: none;
	height: 36em;
	position: relative;
}

section img {
	width: 100%;
	border-radius: 0.2em 0.2em 0 0;
	margin: 0;
}

section h2 {
	padding-left: 1.1em;
	font-size: 2em;
	font-weight: bolder;
}

section p {
	padding: 1.5em 2em 4em 2em;
}

section a {
	background-color: #ffbc0d;
    border-radius: 4px;
    padding: 9pt 13px;
    display: inline-flex;
    line-height: 24px;
    color: #292929;
    text-decoration: none;
    margin: 0 29px 0 1.8em;
}


section article:last-of-type{
	display: flex;
	justify-content: center;
	gap: 1em;
	position: absolute;
	bottom: 1em;
	left: 3em;
}

section article button{
	background-color: grey;
	height: 0.6em;
	width: 0.6em;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	margin-top: 2em;
}

section article button:active{
	background-color: #111;
}

.active{
	background-color: #111;

}

.visible {
	display: flex;
}